body, html, a{
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: Source Sans Pro;
    color: #fff;
}
#header {
    position: absolute;
}
#page1 {
    width: 100%;
    position: relative;
}
.outer1 {
    width: 100%;
}
.center-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50% );
    font-size: 70px;
    font-family: 'Oswald', sans-serif;
    color: #fff;
    text-align: center;
}
#page3 {
    position: relative;
}
.outer3 {
    width: 100%;
    position: relative;
    overflow: auto
}
.top-left {
    position: absolute;
}
.nasa {
    position: absolute;
    max-width: 87px;
    max-height: 87px;
    margin-top: -1038px;
    margin-left: 90px;

}
.csa {
    position: absolute;
    max-width: 87px;
    max-height: 87px;
    margin-top: -1038px;
    margin-left: 205px;
}
.esa {
    position: absolute;
    max-width: 87px;
    max-height: 87px;
    margin-top: -1038px;
    margin-left: 330px;
}
.buttom-left {
    position: absolute;
    width: 450px;
    margin-top: -380px;
    margin-left: 122px;

}
.top-right {
    position: absolute;
    max-width: 720px;
    margin-top: -842px;
    margin-left: 630px;
}